*.py[cod]

# C extensions
*.so

# Editors
.idea/
.vscode/

# Packages
*.egg
*.egg-info
build
eggs
parts
scripts
!/chime2/chime2/normal/scripts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml


# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env/

# npm
web/node_modules/

# webpack-built files
web/app/static/build/

# Configuration
.env

# Development database
*.db

# Lock files
poetry.lock
package-lock.json

# chime2 output directory
output/

# LaTeX and bbl
notes.aux
notes.log
xetex_import.sty
notes.bbl
notes.blg
notes.out
notes.synctex.gz
notesNotes.bib
notes.pdf
