# Build
build/
dist/
*.egg
*.egg-info

# Bytecode
__pycache__/
*.pyc

# mypy
.mypy_cache/

# Editor
.idea/
.vscode/

# Environment
.python-version
Pipfile.lock
.venv/

# OS
.DS_STORE
Desktop.ini

# dotenv
.env
