{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid mt-5">
        <h1 class="display-4" style="text-align:center;"><strong>About CHIME-2</strong></h1>
    </div>
    <div class="container col-6">
        <div class="mx-auto">
            <div class="card-subtitle">
                <p class="h2" style="text-align:center;">About page subtitle</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis rutrum quam, ut commodo lorem
                consequat sed. Quisque tristique enim sit amet mi aliquam iaculis quis et velit. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tempor ex volutpat metus
                vulputate, ut iaculis felis dignissim. Suspendisse potenti. Aliquam sit amet ipsum non erat malesuada
                auctor id vitae lectus. Phasellus commodo nisl in sapien eleifend interdum. Donec rutrum pharetra mauris
                nec euismod.
            </p>
            <div class="card-subtitle">
                <p class="h2" style="text-align:center;">Another Subtitle</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis rutrum quam, ut commodo lorem
                consequat sed. Quisque tristique enim sit amet mi aliquam iaculis quis et velit. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tempor ex volutpat metus
                vulputate, ut iaculis felis dignissim. Suspendisse potenti. Aliquam sit amet ipsum non erat malesuada
                auctor id vitae lectus. Phasellus commodo nisl in sapien eleifend interdum. Donec rutrum pharetra mauris
                nec euismod.
            </p>
        </div>
    </div>
{% endblock %}

