{#{% extends "layout.html" %}#}
{##}
{#{% block title %} CHIME 2 Dashboard {% endblock title %}#}
{##}
{#{% block stylesheets %}#}
{#    {{ super() }}#}
{#{% endblock stylesheets %}#}
{##}
{#{% block content %}#}
{#    <div class="jumbotron-fluid mx-auto">#}
{#        <div style="width: 100%; min-height:1200px;">#}
{#            <iframe#}
{#                    noresize="noresize" frameborder="0"#}
{#                    style='position: absolute; background: transparent; width: 95%; height:100%;'#}
{#                    src={{ dash_url }}>#}
{#            </iframe>#}
{#        </div>#}
{#    </div>#}
{#    <div class="clearfix"></div>#}
{#{% endblock content %}#}
{##}
{#{% block javascripts %}#}
{#    {{ super() }}#}
{#{% endblock javascripts %}#}
