{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="card-title display-3 pt-3 mb-5" style="text-align:center;">
            <strong>Covid-19 Hospital Impact Model for Epidemics</strong>
        </h1>
        <div class="">
            <div class="">
                <h3 class="card-subtitle" style="text-align:center">
                    An extension of the original CHIME. A tool to help better inform public opinion, and assist
                    policymakers
                    and hospitals with capacity planning.
                </h3>
                <div class="text-xl-center">
                    <p class="btn-primary btn-lg btn" style="margin-top:33px">Learn more &raquo;</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.jumbotron -->
    <div class="container-fluid col-lg-10">
        <div class="card-deck">
            <div class="card">
                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">
                    <!-- Title -->
                    <h4 class="card-title"><strong><h1>Users</h1></strong></h4>
                    <!-- Subtitle -->
                    <h5 class="blue-text pb-2"><strong>Documentation and Resources</strong></h5>
                    <!-- Text -->
                    <p class="card-text">Although CHIME was initially created for Penn Medicine, the application can be
                        used by anyone in the world. Here is a basic walkthrough of how to start using CHIME for your
                        region.</p>
                        <p class="btn-lg btn-primary rounded" href="https://code-for-philly.gitbook.io/chime/">
                            Read the Docs
                        </p>
                </div>
            </div>
            <div class="card">
                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">
                    <!-- Title -->
                    <h4 class="card-title"><strong><h1>Contributors</h1></strong></h4>
                    <!-- Subtitle -->
                    <h5 class="blue-text pb-2"><strong>All skill levels welcome!</strong></h5>
                    <!-- Text -->
                    <p class="card-text">Check out this and other projects on GitHub, or if this is where you
                        want to be, then click the link below for developer documentation.</p>
                    <div class="text-muted text-center mt-4", style="padding-top:20px">
                        <p class="btn-lg btn-primary">Developer Documentation</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">
                    <!-- Title -->
                    <h4 class="card-title"><strong><h1>Code for Philly</h1></strong></h4>
                    <!-- Subtitle -->
                    <h5 class="blue-text pb-2"><strong></strong></h5>
                    <!-- Text -->
                    <p class="card-text">We're part of a national alliance of community organizers, developers, and
                        designers that are putting technology to work in service of our local communities. We believe
                        that government can work, for the people, by the people, in the digital age, if we all
                        help. </p>
                        <p class="btn-lg btn-primary rounded">Visit our Website</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
